<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   
   <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
       <plugin name="bsitc_checkout_custom_shipping_fields" type="Bsitc\Brightpearl\Plugin\Checkout\LayoutProcessorPlugin" sortOrder="10"/>
   </type>
   
   <type name="Magento\Checkout\Model\ShippingInformationManagement">
      <plugin name="bsitc_save_to_quote_table" type="Bsitc\Brightpearl\Plugin\Quote\SaveToQuote" sortOrder="10"/>
   </type>
   
    <!--Start Write Commands for first time product data fetch-->
    <type name="Magento\Framework\Console\CommandList">
       <arguments>
           <argument name="commands" xsi:type="array">
               <item name="exampleSayHello" xsi:type="object">Bsitc\Brightpearl\Console\ExportProductFromBp</item>
           </argument>
       </arguments>
   </type>
   <!--Ends Write Commands for first time product data fetch-->

	<type name="Magento\Framework\App\Request\CsrfValidator">
		<plugin name="csrf_validator_skip" type="Bsitc\Brightpearl\Plugin\CsrfValidatorSkip" sortOrder="10" />
	</type> 
  
</config>
